<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <partial name="_Header">
        <div>
            @RenderBody()
        </div>
</body>

<partial name="_Footer">
</html>
